<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="" />
  <rewrite>
   <rules>
    <rule name="Imported Rule 1" stopProcessing="true">
     <match url="^app\.php(/(.*)|$)" ignoreCase="false" />
     <action type="Redirect" redirectType="Permanent" url="{R:2}" />
    </rule>
    <rule name="Imported Rule 2" stopProcessing="true">
     <match url=".?" ignoreCase="false" />
     <conditions>
      <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
     </conditions>
     <action type="None" />
    </rule>
    <rule name="Imported Rule 3" stopProcessing="true">
     <match url=".?" ignoreCase="false" />
     <action type="Rewrite" url="app_dev.php" />
    </rule>
   </rules>
  </rewrite>
    </system.webServer>
    <location path="app.php">
        <system.webServer>
            <httpRedirect enabled="false" destination="" />
        </system.webServer>
    </location>
</configuration>